body {
  background-color: #e2e3d8;
}
button {
  background-color: #b5d7cf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: flex;
  flex-direction: center;
}
.signupForm {
  display: block;
  background-color: #9ba596;
  align-items: center;
  border-color: #5a4b41;
  color: #5a4b41;
  flex-wrap: wrap;
  align-items: center;
  
}
input[type=text]:focus {
    background-color: #b5d7cf;
    border-radius: 4px;
    border: 10%;
  }

.signupForm.name{
    display: flex;
    flex-flow: column;
}
.signupForm.password{
    flex-flow: column;
}
.signupForm.email{
    flex-flow: column;
}
